.country-dropdown-wrapper[data-v-733bd040] {
    position: relative
}

.country-dropdown-wrapper .country-dropdown[data-v-733bd040] {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px #00000040;
    list-style: none;
    margin-top: 10px;
    padding: 16px;
    position: absolute
}

.country-dropdown-wrapper .country-dropdown.en[data-v-733bd040] {
    right: 0
}

.country-dropdown-wrapper .country-dropdown.ar[data-v-733bd040] {
    left: 0
}

.country-dropdown-wrapper .country-dropdown span.country-dropdown-title[data-v-733bd040] {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

.country-dropdown-wrapper .country-dropdown li a[data-v-733bd040] {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    display: flex;
    height: 48px;
    justify-content: space-between;
    line-height: 24px;
    margin-top: 16px;
    padding: 0 12px;
    width: 224px
}

.country-dropdown-wrapper .country-dropdown li a .item-right[data-v-733bd040] {
    display: none
}

.country-dropdown-wrapper .country-dropdown li a .item-right .radio-circle[data-v-733bd040] {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 100%;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-top: 6px;
    width: 24px
}

.country-dropdown-wrapper .country-dropdown li a .item-right .radio-circle .active-circle[data-v-733bd040] {
    background-color: #00c3ff;
    border-radius: 100%;
    height: 12px;
    width: 12px
}

.country-dropdown-wrapper .country-dropdown li a .item-right .radio-circle.active[data-v-733bd040] {
    border: 1px solid #00c3ff
}

.country-dropdown-wrapper .country-dropdown li a span[data-v-733bd040] {
    color: #000000de;
    padding-bottom: 1px
}

.country-dropdown-wrapper .country-dropdown li a img[data-v-733bd040] {
    background-color: #eee;
    border-radius: 100%;
    height: 24px;
    width: 24px
}

.country-dropdown-wrapper .country-dropdown li a img.en[data-v-733bd040] {
    margin-right: 8px
}

.country-dropdown-wrapper .country-dropdown li a img.ar[data-v-733bd040] {
    margin-left: 8px
}

.country-dropdown-wrapper .country-dropdown li a.active[data-v-733bd040] {
    border: 1px solid rgba(0, 0, 0, .38);
    font-weight: 700
}

.country-dropdown-wrapper .country-dropdown li a[data-v-733bd040]:hover {
    background: #d9f6ff;
    border: 1px solid #79daf9
}

@media screen and (max-width:780px) {
    .country-modal-wrapper[data-v-733bd040] {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 40
    }
    .country-modal-wrapper .modal-background[data-v-733bd040] {
        background-color: #00000080;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0
    }
    .country-modal-wrapper .country-dropdown[data-v-733bd040] {
        border-radius: 8px 8px 0 0;
        bottom: 0;
        padding-bottom: 100px;
        position: fixed;
        top: auto;
        width: 100%
    }
    .country-modal-wrapper .country-dropdown span.country-dropdown-title[data-v-733bd040] {
        box-shadow: inset 0 -1px #0000001f;
        display: block;
        margin: 0 -16px;
        padding: 8px 16px 24px
    }
    .country-modal-wrapper .country-dropdown li a[data-v-733bd040] {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .08);
        border-radius: 0;
        height: 56px;
        margin: 0;
        padding: 0;
        width: 100%
    }
    .country-modal-wrapper .country-dropdown li a.active[data-v-733bd040] {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .08);
        font-weight: 700
    }
    .country-modal-wrapper .country-dropdown li a .item-right[data-v-733bd040] {
        display: block
    }
    .navbar-item img.country-flag[data-v-733bd040] {
        height: 18px
    }
}

.user-dropdown-wrapper[data-v-d44d51ff] {
    position: relative
}

.user-dropdown-wrapper .user-dropdown[data-v-d44d51ff] {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px #00000040;
    margin-top: 10px;
    padding: 8px 16px 16px;
    position: absolute;
    width: 360px
}

.user-dropdown-wrapper .user-dropdown.en[data-v-d44d51ff] {
    right: 0
}

.user-dropdown-wrapper .user-dropdown.ar[data-v-d44d51ff] {
    left: 0
}

.user-dropdown-wrapper .user-dropdown .main-profile[data-v-d44d51ff] {
    background: var(--5c26d150) no-repeat 50%;
    display: none;
    font-weight: 700;
    height: 136px;
    padding: 24px 0;
    text-align: center
}

.user-dropdown-wrapper .user-dropdown .main-profile .user-name[data-v-d44d51ff] {
    color: #000000de;
    display: block;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-dropdown-wrapper .user-dropdown .main-profile .user-phone[data-v-d44d51ff] {
    color: #00000061;
    font-size: 13px;
    line-height: 20px
}

.user-dropdown-wrapper .user-dropdown .logout-button[data-v-d44d51ff] {
    color: #ff0016;
    cursor: pointer;
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    text-decoration: underline;
    width: 100px
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-visitor[data-v-d44d51ff] {
    padding-top: 8px
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-visitor .login-button[data-v-d44d51ff] {
    margin-bottom: 16px
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items[data-v-d44d51ff] {
    padding-bottom: 1rem
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item[data-v-d44d51ff] {
    margin: 0 -16px;
    transition: .2s ease-out
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a[data-v-d44d51ff] {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    display: flex;
    margin: 0 16px;
    padding: 1rem 0;
    position: relative
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a span[data-v-d44d51ff] {
    line-height: 25px
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a span.en[data-v-d44d51ff] {
    margin-left: 8px
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a span.ar[data-v-d44d51ff] {
    margin-right: 8px
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a .right-icon[data-v-d44d51ff] {
    display: none;
    height: 18px;
    position: absolute
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a .right-icon.en[data-v-d44d51ff] {
    right: 0
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a .right-icon.ar[data-v-d44d51ff] {
    left: 0;
    transform: rotate(180deg)
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item[data-v-d44d51ff]:hover {
    background-color: #d9f6ff
}

.user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item .question-mark-icon-custom[data-v-d44d51ff] {
    height: 18px;
    width: 18px
}

.user-dropdown-wrapper .user-dropdown .app-icons[data-v-d44d51ff] {
    display: flex
}

.user-dropdown-wrapper .user-dropdown .app-icons a[data-v-d44d51ff] {
    background-color: #eee;
    border-radius: 8px;
    margin: 0 6px;
    min-height: 48px;
    width: 50%
}

.user-dropdown-wrapper .navbar-item .navbar-user-item .user-name[data-v-d44d51ff] {
    color: #000000de;
    font-size: 18px;
    font-weight: 700;
    height: 30px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.user-dropdown-wrapper .navbar-item .navbar-user-item.ar[data-v-d44d51ff],
.user-dropdown-wrapper .navbar-item .navbar-user-item.en[data-v-d44d51ff] {
    margin-right: 16px
}

.user-dropdown-wrapper .navbar-item .hamburger-icon[data-v-d44d51ff] {
    height: 20px
}

@media screen and (max-width:780px) {
    .user-dropdown-wrapper .user-dropdown[data-v-d44d51ff] {
        border-radius: 0;
        border-top: 1px solid rgba(0, 0, 0, .08);
        box-shadow: none;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-between;
        margin: 0;
        overflow: scroll;
        padding-bottom: 48px;
        position: fixed;
        top: 44px;
        width: 100%;
        z-index: 9999
    }
    .user-dropdown-wrapper .user-dropdown .main-profile[data-v-d44d51ff] {
        display: block
    }
    .user-dropdown-wrapper .user-dropdown .app-icons[data-v-d44d51ff] {
        margin-bottom: 90px
    }
    .user-dropdown-wrapper .user-dropdown .user-dropdown-items .user-dropdown-item a .right-icon[data-v-d44d51ff] {
        display: block
    }
    .user-dropdown-wrapper .user-dropdown .avatar[data-v-d44d51ff] {
        margin-bottom: 5.5px
    }
    .user-dropdown-wrapper .navbar-item img[data-v-d44d51ff] {
        transform: scale(.7)
    }
    .user-dropdown-wrapper .navbar-item .navbar-user-item.ar[data-v-d44d51ff],
    .user-dropdown-wrapper .navbar-item .navbar-user-item.en[data-v-d44d51ff] {
        margin-right: 0
    }
    .user-dropdown-wrapper .navbar-item .navbar-user-item .user-name[data-v-d44d51ff] {
        font-size: 14px;
        height: 23px;
        margin: 0 4px;
        max-width: 70px
    }
}

.back-step[data-v-f03a03e3] {
    align-items: center;
    display: flex;
    height: 1.5rem;
    justify-content: center;
    margin: 0 12px;
    width: 1.5rem
}

.navbar {
    align-items: stretch;
    background-color: #fff;
    box-shadow: inset 0 -1px #0000001f;
    display: flex;
    height: 5rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40
}

.navbar .navbar-inside {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1140px;
    width: 100%
}

.navbar .navbar-inside .navbar-item {
    align-items: center;
    border: 1px solid transparent;
    border-radius: 24px;
    cursor: pointer;
    display: flex;
    height: 48px;
    min-width: 48px;
    padding: 12px;
    transition: .2s ease-out
}

.navbar .navbar-inside .navbar-item.active {
    border: 1px solid rgba(0, 0, 0, .12)
}

.navbar .navbar-inside .navbar-item.active:hover {
    background-color: #00000008
}

.navbar .navbar-inside .navbar-item:hover {
    border: 1px solid rgba(0, 0, 0, .12);
    box-shadow: 0 1px 1px #0000000d
}

.navbar .navbar-inside .navbar-left {
    display: flex
}

.navbar .navbar-inside .navbar-left .logo {
    display: block;
    padding-bottom: 4px;
    padding-top: 3px;
    width: 130px
}

.navbar .navbar-inside .navbar-left .navbar-back-button.en {
    padding-bottom: 2px
}

.navbar .navbar-inside .navbar-left .navbar-back-button.ar {
    padding-top: 2px
}

.navbar .navbar-inside .navbar-center {
    flex-shrink: 1;
    height: 48px;
    margin: 0 24px;
    min-width: 0
}

.navbar .navbar-inside .navbar-right .close-icon {
    background-color: #fff;
    display: none;
    justify-content: flex-end;
    padding: 12px;
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
    z-index: 99
}

.navbar .navbar-inside .navbar-right .close-icon.ar {
    left: 0;
    right: auto
}

.navbar .navbar-inside .navbar-right .navbar-items {
    align-items: center;
    display: flex
}

.location-search-wrapper {
    flex-basis: 0;
    flex-shrink: 1;
    min-width: 0
}

@media screen and (max-width:1180px) {
    .navbar {
        align-items: stretch;
        display: flex
    }
    .navbar .navbar-inside {
        padding: 0 16px
    }
    .navbar .navbar-inside .navbar-item {
        display: flex;
        min-width: 36px;
        padding: 12px 4px
    }
    .navbar .navbar-inside .location-search,
    .navbar .navbar-inside .location-search.clickable {
        min-width: auto
    }
    .navbar .navbar-inside .navbar-center {
        margin: 0 12px
    }
}

@media screen and (max-width:780px) {
    .navbar {
        height: auto;
        min-height: auto
    }
    .navbar.is-home {
        height: 156px
    }
    .navbar .navbar-inside {
        height: 48px
    }
    .navbar .navbar-inside.en {
        padding-left: 0
    }
    .navbar .navbar-inside.ar {
        padding-right: 0
    }
    .navbar .navbar-inside .logo {
        transform: scale(.7);
        width: 90px !important
    }
    .navbar .navbar-inside .navbar-right .close-icon {
        display: flex
    }
    .navbar .navbar-inside .navbar-center {
        align-items: center;
        display: flex;
        height: 104px;
        justify-content: center;
        left: 0;
        margin: 0;
        position: absolute;
        top: 50px;
        width: 100%
    }
    .navbar .navbar-inside .navbar-item {
        border-radius: 16px;
        height: 32px;
        min-width: 32px;
        padding: 6px
    }
    .navbar .navbar-inside .navbar-item svg {
        transform: scale(.7)
    }
    .navbar .navbar-inside .navbar-item.last-item.ar {
        margin-right: 6px
    }
    .navbar .navbar-inside .navbar-item.last-item.en {
        margin-left: 6px
    }
    .navbar.visitor {
        height: 48px
    }
}

.footer-wrapper[data-v-2c82c13e] {
    background: #000000de
}

.footer-wrapper .container[data-v-2c82c13e] {
    padding: .5rem 0
}

.footer-wrapper .container .footer-title[data-v-2c82c13e] {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: .5rem 0
}

.footer-wrapper .container a.footer-title[data-v-2c82c13e] {
    text-decoration: underline
}

.footer-wrapper .container a.footer-title[data-v-2c82c13e]:hover {
    text-decoration: underline !important
}

.footer-wrapper .container .services[data-v-2c82c13e] {
    flex-wrap: wrap;
    margin: 0 -6px;
    padding-bottom: 1.5rem
}

.footer-wrapper .container .services .service[data-v-2c82c13e] {
    background: #000000de;
    border-radius: 12px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    margin: .5rem 6px;
    padding: 2px 8px
}

.footer-wrapper .container .cities-wrapper[data-v-2c82c13e] {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -24px
}

.footer-wrapper .container .cities-wrapper .cities[data-v-2c82c13e] {
    margin: 0 22px
}

.footer-wrapper .container .ksa-docs img[data-v-2c82c13e] {
    height: 60px
}

.footer-wrapper .container .footer-bottom[data-v-2c82c13e] {
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 1rem 0 .5rem;
    width: 100%
}

.footer-wrapper .container .footer-bottom>div[data-v-2c82c13e] {
    align-items: center;
    display: flex
}

.footer-wrapper .container .footer-bottom .app-icons[data-v-2c82c13e] {
    margin: 0 -9px
}

.footer-wrapper .container .footer-bottom .app-icons a[data-v-2c82c13e] {
    margin: 0 9px
}

.footer-wrapper .container .footer-bottom .social-icons a[data-v-2c82c13e] {
    height: 32.5px;
    margin: 0 10px
}

.footer-wrapper .container .footer-bottom .footer-links[data-v-2c82c13e] {
    margin: 0 -8px
}

.footer-wrapper .container .footer-bottom .footer-links a[data-v-2c82c13e] {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    margin: 0 8px
}

@media screen and (max-width:1023px) {
    .footer-wrapper .container[data-v-2c82c13e] {
        padding: .5rem 1rem
    }
}

@media screen and (max-width:780px) {
    .footer-wrapper .container .cities-wrapper[data-v-2c82c13e] {
        margin: 0 -16px
    }
    .footer-wrapper .container .ksa-docs[data-v-2c82c13e] {
        margin: 24px 0 32px
    }
    .footer-wrapper .container .ksa-docs img[data-v-2c82c13e] {
        height: 48px
    }
    .footer-wrapper .footer-bottom[data-v-2c82c13e] {
        align-items: center;
        flex-direction: column
    }
    .footer-wrapper .footer-bottom .social-icons[data-v-2c82c13e] {
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);
        justify-content: center;
        margin: 1.1rem;
        padding-bottom: 1rem;
        width: 100%
    }
    .footer-wrapper .footer-bottom .footer-links[data-v-2c82c13e] {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 60px
    }
    .footer-wrapper .footer-bottom .footer-links a[data-v-2c82c13e] {
        margin: 6px 8px !important
    }
}

.cookie-alert[data-v-97a8fc4b] {
    align-items: center;
    background-color: #000000de;
    border-radius: .5rem;
    bottom: 2rem;
    color: #fff;
    font-size: 1rem;
    justify-content: space-between;
    left: 20%;
    padding: 1rem 2rem;
    position: fixed;
    width: 60%;
    z-index: 999
}

.cookie-alert .cookie-content a[data-v-97a8fc4b] {
    color: #fff;
    text-decoration: underline
}

.cookie-alert .cookie-button .button[data-v-97a8fc4b] {
    background-color: #8ca0b3 !important;
    box-shadow: none;
    height: 2.5rem !important;
    min-width: 80px;
    padding: 0 1rem
}

.cookie-alert .cookie-button.en[data-v-97a8fc4b] {
    margin-left: 1rem
}

.cookie-alert .cookie-button.ar[data-v-97a8fc4b] {
    margin-right: 1rem
}

@media screen and (max-width:1023px) {
    .cookie-alert[data-v-97a8fc4b] {
        font-size: .875rem;
        left: 5%;
        padding: .875rem 1rem;
        width: 90%
    }
    .cookie-alert.extra-margin[data-v-97a8fc4b] {
        margin-bottom: 4rem
    }
}

.default-enter-active[data-v-efc1cc10],
.default-leave-active[data-v-efc1cc10] {
    transition: opacity .4s
}

.default-enter[data-v-efc1cc10],
.default-leave-active[data-v-efc1cc10] {
    opacity: 0
}

.main-wrapper[data-v-efc1cc10] {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5rem;
    position: relative
}

.main-wrapper.home-wrapper[data-v-efc1cc10] {
    background-color: #fff
}

.main-wrapper.lang-category-slug[data-v-efc1cc10] {
    background-color: #f2f2f2;
    min-height: 75vh
}

.main-wrapper.en[data-v-efc1cc10] {
    left: 0
}

.main-wrapper.ar[data-v-efc1cc10] {
    right: 0
}

.main-wrapper.slided-left.en[data-v-efc1cc10] {
    left: 75% !important
}

.main-wrapper.slided-left.ar[data-v-efc1cc10] {
    right: 75% !important
}

.navbar-placeholder[data-v-efc1cc10] {
    height: 5rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.navbar-placeholder .navbar-placeholder-inside[data-v-efc1cc10] {
    margin: 0 auto;
    width: 1140px
}

.navbar-placeholder .navbar-placeholder-mobile[data-v-efc1cc10] {
    height: 4rem;
    width: 100%
}

@media screen and (min-width:781px) {
    .main-container[data-v-efc1cc10] {
        display: flex;
        flex-direction: column;
        min-height: 100vh
    }
    .main-wrapper[data-v-efc1cc10] {
        flex: 1
    }
}

@media screen and (max-width:780px) {
    .main-wrapper[data-v-efc1cc10] {
        background: #fff;
        min-height: 100vh;
        padding-top: 3rem
    }
    .main-wrapper.home-wrapper.lg-navbar[data-v-efc1cc10] {
        padding-top: 152px
    }
    .main-wrapper.funnel-page-wrapper[data-v-efc1cc10] {
        padding-top: 0
    }
}