.helper-text-item[data-v-4e6252b4] {
    font-size: .8125rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.25rem
}

.helper-text-item.text-capitalize[data-v-4e6252b4] {
    line-height: 13px;
    text-transform: capitalize !important
}