.loading[data-v-1f4aee49] {
    background-color: #fff6;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: all .5s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1000
}

.loading.is-active[data-v-1f4aee49] {
    opacity: 1;
    visibility: visible
}

.loading .spinner-container[data-v-1f4aee49] {
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 6px 10px #00000014, 0 1px 18px #00000014, 0 3px 5px -1px #00000014;
    height: 5rem;
    left: 50%;
    padding: 8px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5rem
}

.loading .spinner-container img[data-v-1f4aee49] {
    border-radius: 50%;
    height: 100%;
    width: 100%
}

.long-wait-text[data-v-1f4aee49] {
    display: none
}

.long-wait-text.is-visible[data-v-1f4aee49] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-top: 75px;
    width: 100%
}

.body2-text-item[data-v-1f4aee49] {
    font-size: 1.125rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5rem
}

.body2-text-item a[data-v-1f4aee49] {
    color: #54caff !important
}