.dropdown-item-wrapper[data-v-30d1a8fd] {
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    margin: 0 -16px
}

.dropdown-item-wrapper .dropdown-item[data-v-30d1a8fd] {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 0 16px;
    padding: 8px 0 12px
}

.dropdown-item-wrapper .dropdown-item .item-content span[data-v-30d1a8fd] {
    display: block;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 380px
}

.dropdown-item-wrapper .dropdown-item .item-content span.item-title[data-v-30d1a8fd] {
    font-weight: 700;
    margin-bottom: 4px
}

.dropdown-item-wrapper .dropdown-item .item-right .radio-circle[data-v-30d1a8fd] {
    align-items: center;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 100%;
    display: none;
    height: 24px;
    justify-content: center;
    margin-top: 6px;
    width: 24px
}

.dropdown-item-wrapper .dropdown-item .item-right .radio-circle .active-circle[data-v-30d1a8fd] {
    background-color: #00c3ff;
    border-radius: 100%;
    height: 12px;
    width: 12px
}

.dropdown-item-wrapper .dropdown-item .item-right .radio-circle.active[data-v-30d1a8fd] {
    border: 1px solid #00c3ff
}

.dropdown-item-wrapper[data-v-30d1a8fd]:hover {
    background-color: #d9f6ff
}

.dropdown-item-wrapper:hover span.item-title[data-v-30d1a8fd] {
    color: #00c3ff !important
}

@media screen and (max-width:780px) {
    .dropdown-item-wrapper .dropdown-item .item-content[data-v-30d1a8fd] {
        width: 80%
    }
    .dropdown-item-wrapper .dropdown-item .item-content span[data-v-30d1a8fd] {
        width: auto
    }
    .dropdown-item-wrapper .dropdown-item .item-right .radio-circle[data-v-30d1a8fd] {
        display: flex
    }
}

.user-addresses-wrapper .dropdown-title[data-v-490f1239] {
    box-shadow: inset 0 -1px #0000001f;
    display: none;
    margin: 0 -16px;
    padding: 24px 16px
}

.user-addresses-wrapper .user-addresses[data-v-490f1239] {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    box-shadow: 0 0 2px #00000026;
    display: block;
    left: 0;
    min-width: 300px;
    padding: 0 16px;
    position: absolute;
    top: 56px;
    z-index: 41
}

.user-addresses-wrapper .user-addresses .add-address[data-v-490f1239] {
    align-items: center;
    box-shadow: inset 0 -1px #0000001f;
    cursor: pointer;
    display: flex;
    margin: 0 -16px;
    padding: 1rem
}

.user-addresses-wrapper .user-addresses .add-address[data-v-490f1239]:hover {
    background-color: #d9f6ff;
    border-radius: 8px 8px 0 0
}

.user-addresses-wrapper .user-addresses .add-address .add-address-icon[data-v-490f1239] {
    height: 24px
}

.user-addresses-wrapper .user-addresses .add-address .add-address-icon.en[data-v-490f1239] {
    margin-right: 12px
}

.user-addresses-wrapper .user-addresses .add-address .add-address-icon.ar[data-v-490f1239] {
    margin-left: 12px
}

.user-addresses-wrapper .user-addresses .add-address span[data-v-490f1239] {
    font-weight: 700;
    line-height: 25px
}

.user-addresses-wrapper .user-addresses .addresses-description[data-v-490f1239] {
    background-color: #f5f5f5;
    border-radius: 0 0 8px 8px;
    margin: 0 -16px;
    padding: 12px 1.5rem;
    text-align: center
}

.user-addresses-wrapper .user-addresses .addresses-description .bold[data-v-490f1239] {
    font-weight: 700 !important
}

@media screen and (max-width:780px) {
    .user-addresses-wrapper[data-v-490f1239] {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 40
    }
    .user-addresses-wrapper .dropdown-title[data-v-490f1239] {
        display: block
    }
    .user-addresses-wrapper .user-addresses[data-v-490f1239] {
        border-radius: 8px 8px 0 0;
        bottom: 0;
        position: fixed;
        top: auto;
        width: 100%;
        z-index: 99
    }
    .user-addresses-wrapper .modal-background[data-v-490f1239] {
        background-color: #00000080;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0
    }
}

.locate-me-button[data-v-3f2d0c7f] {
    background: #ebfaff;
    border-radius: 16px;
    cursor: pointer;
    display: flex
}

.locate-me-button span[data-v-3f2d0c7f] {
    color: #00c3ff;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-left: 2px;
    width: 105px
}

.locate-me-button .locate-me-icon[data-v-3f2d0c7f] {
    height: 18px;
    padding-top: 1px;
    width: 18px
}

.chevron-back[data-v-bbb07783] {
    cursor: pointer
}

.address-skeleton[data-v-a0234af9] {
    background-color: #fff;
    height: 24px;
    left: 0;
    margin-top: 6px;
    padding: 0 23%;
    position: fixed;
    width: 100%;
    z-index: 9
}

.location-container[data-v-a0234af9] {
    position: relative
}

.clickable[data-v-a0234af9] {
    cursor: pointer
}

.location-search[data-v-a0234af9] {
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    height: 48px;
    position: relative
}

.location-search.has-bg[data-v-a0234af9] {
    background-color: #ebfaff
}

.location-search.active[data-v-a0234af9] {
    background-color: #f5f5f5
}

.location-search .location-search-input-wrapper[data-v-a0234af9] {
    height: 28px
}

.location-search .location-search-input-wrapper .location-search-input[data-v-a0234af9] {
    background-color: transparent;
    border: none;
    color: #000000de;
    font-size: 1rem;
    line-height: 24px;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.location-search .location-search-input-wrapper .location-search-input.typed[data-v-a0234af9] {
    font-weight: 700
}

.location-search .pin-wrapper[data-v-a0234af9] {
    display: block;
    width: 24px
}

.location-search .search-results[data-v-a0234af9] {
    background-color: #fff;
    display: none;
    left: 0;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 40
}

.location-search .search-results.with-border[data-v-a0234af9] {
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 8px;
    padding: 8px 0
}

.location-search .search-results .location-item[data-v-a0234af9] {
    cursor: pointer;
    display: flex
}

.location-search .search-results .location-item[data-v-a0234af9]:hover {
    background-color: #d9f6ff
}

.location-search .search-results .location-item:hover .item-title[data-v-a0234af9] {
    color: #00c3ff !important
}

.location-search .search-results.active[data-v-a0234af9] {
    display: block
}

.location-search .location-search-right[data-v-a0234af9] {
    align-items: center;
    display: flex;
    flex-shrink: 0
}

.location-search .location-search-right .address-icon img[data-v-a0234af9] {
    margin-bottom: 3px
}

.location-search .location-search-right .location-search-clear[data-v-a0234af9] {
    align-items: center;
    cursor: pointer;
    display: flex;
    transition: .3s ease-out
}

.navbar-section .location-search-input-wrapper[data-v-a0234af9] {
    flex-shrink: 1;
    min-width: 0
}

@media screen and (max-width:780px) {
    .search-results-bg[data-v-a0234af9] {
        background-color: #fff;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%
    }
    .location-container[data-v-a0234af9] {
        width: 100%
    }
    .location-container.navbar-section .location-search[data-v-a0234af9] {
        border: none;
        border-radius: 8px;
        height: 36px
    }
    .location-container.navbar-section .location-search.location-search-narrow[data-v-a0234af9] {
        height: 28px
    }
    .location-container.welcome-section[data-v-a0234af9] {
        padding: 0
    }
    .location-container.welcome-section .location-search[data-v-a0234af9] {
        border: none;
        border-radius: 24px;
        box-shadow: 1px 1px 2px #0000001a, -1px -1px 2px #0000001a;
        height: 48px
    }
    .location-container.map-section .location-search .location-search-input-wrapper .location-search-input[data-v-a0234af9],
    .location-container.welcome-section .location-search .location-search-input-wrapper .location-search-input[data-v-a0234af9] {
        font-size: 16px
    }
    .location-container.map-section .search-results[data-v-a0234af9] {
        height: 100%;
        padding-top: 72px;
        position: fixed;
        top: 0;
        z-index: -1
    }
    .location-container .location-search[data-v-a0234af9] {
        min-width: 100%
    }
    .location-container .location-search.clickable[data-v-a0234af9] {
        height: 36px
    }
    .location-container .location-search.active[data-v-a0234af9] {
        background-color: #fff
    }
    .location-container .location-search.clickable[data-v-a0234af9] {
        width: 100%
    }
    .location-container .location-search .location-search-input-wrapper .location-search-input[data-v-a0234af9] {
        font-size: 14px
    }
}