.notification-container[data-v-e684cd52] {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 10px -5px #00000014, 0 6px 30px 5px #00000014, 0 16px 24px 2px #00000014;
    left: 50%;
    margin-left: -250px;
    overflow: hidden;
    padding: 1rem;
    position: fixed;
    top: -1000px;
    transition: all 1s ease;
    width: 500px;
    z-index: 10000000
}

.notification-container.has-error[data-v-e684cd52]:after {
    background: #e1190c;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%
}

.notification-container.has-success[data-v-e684cd52]:after {
    background: #49a361;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    width: 100%
}

.notification-container.progress-bar-visible[data-v-e684cd52]:after {
    animation: progress-e684cd52 8s linear
}

.notification-container.is-active[data-v-e684cd52] {
    display: block !important;
    top: 2rem
}

.notification-container.new-notification[data-v-e684cd52] {
    top: 3rem
}

.notification-container .close[data-v-e684cd52] {
    cursor: pointer;
    height: 13.33px;
    position: absolute;
    top: 1.25rem;
    width: 13.33px;
    z-index: 100
}

.notification-container .close.en[data-v-e684cd52] {
    right: 1rem
}

.notification-container .close.ar[data-v-e684cd52] {
    left: 1rem
}

.notification-container .notifications[data-v-e684cd52] {
    align-items: baseline;
    justify-content: start;
    position: relative
}

.notification-container .notifications .messages .capitalize[data-v-e684cd52] {
    text-transform: capitalize
}

.notification-container .notifications .messages .underline[data-v-e684cd52] {
    text-decoration: underline
}

.notification-container .notifications img[data-v-e684cd52],
.notification-container .notifications svg[data-v-e684cd52] {
    height: 1.5rem;
    position: relative;
    top: 6px;
    width: 1.5rem
}

@media screen and (max-width:1023px) {
    .notification-container[data-v-e684cd52] {
        left: 5% !important;
        margin-left: 0 !important;
        width: 90% !important
    }
    .notification-container .notifications .messages p[data-v-e684cd52]:first-child {
        padding-left: 0;
        padding-right: 1.5rem
    }
    .notification-container .notifications .messages.ar p[data-v-e684cd52]:first-child {
        padding-left: 1.5rem;
        padding-right: 0
    }
}

@keyframes progress-e684cd52 {
    0% {
        width: 100%
    }
    to {
        width: 0
    }
}